<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="learntestNG.TestScenario4"/>
      <class name="learntestNG.TestScenario3"/>
      <class name="learntestNG.TestScenario6"/>
      <class name="learntestNG.TestScenario5"/>
      <class name="learntestNG.TestScenario2"/>
      <class name="learntestNG.TestScenario1"/>
      <class name="learntestNG.TestScenario10"/>
      <class name="learntestNG.TestScenario8"/>
      <class name="learntestNG.TestScenario7"/>
      <class name="learntestNG.TestScenario9"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
